@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Azeret Mono', monospace;
  color: rgb(13, 19, 33);
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Nav section */
.nav {
  padding: 35px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo {
  font-size: 28px;
  font-weight: 600;
  color: rgb(13, 19, 33);
  text-decoration: none;
}

.nav .btn-download {
  border: 1px solid rgb(13, 19, 33);
  padding: 17px 24px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
}

/* Banner section */
.section-banner {
  background: url(assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  padding: 26px 0;
}

.section-banner-container {
  max-width: 998px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.heading-primary {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.btn-contact {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: rgb(13, 19, 33);
  padding: 21px 24px;
  border-radius: 8px;
  margin-top: 32px;
}

/* section career */
.section-career {
  padding: 80px 97px;
  margin: 74px auto 0 auto;
  text-align: center;
  background-color: rgba(13, 19, 33, 0.02);
  border-radius: 16px;
}

.heading-secondary {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 24px;
}

.section-career-column {
  padding: 48px;
  background-color: #fff;
  display: flex;
  gap: 48px;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  text-align: left;
  border-radius: 16px;
}

.heading-tertiary {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}

.btn-learn-more {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  border: 1px solid rgb(13, 19, 33);
  padding: 12px 20px;
  margin-top: 32px;
  background-color: #fff;
  opacity: 0.7;
}

/* Section inspiration */
.section-inspiration {
  text-align: center;
  margin-top: 88px;
}

.section-inspiration-video-container {
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin-top: 48px;
}

.section-inspiration-video {
  border-radius: 16px;
}
